@font-face {
	font-family: newyork;
	src: url(NewYork.otf);
}

@font-face {
	font-family: urbanist-semibold;
	src: url(urbanist-semibold.ttf);
}

@font-face {
	font-family: urbanist-regular;
	src: url(urbanist-regular.ttf);
}

@font-face {
	font-family: urbanist-light;
	src: url(urbanist-light.tff);
}

body {
	background: #E7DFD3;
  margin: 0;
}


.hero {
  background-image: url("images/uiuxdisplay.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.header {
	display: flex;
	justify-content: space-between;
	padding: 40px 30px;
}

.logo {
	font-family: newyork;
    font-size: 20px;
    color: #260101;
    letter-spacing: 1px;
}

.logo a {
	text-decoration: none;
	color: #260101;
}

.navbar {
	display: flex;
	justify-content: flex-end;
	gap: 50px;
}

.navbar a {
	font-family: urbanist;
	font-size: 18px;
	text-decoration: none;
	color: #260101;
}

.projects a:hover {
	color: #89442F;
	text-decoration: underline;
}

.cv a:hover {
	color: #89442F;
	text-decoration: underline;
}

.contact a:hover {
	color: #89442F;
	text-decoration: underline;
}

.back {
    text-align: center;
    text-decoration: underline;
}

.back a {
    font-family: urbanist;
    font-size: 18px;
    color: #8C3D20;
}

.uiuxtitle {
	font-family: newyork;
	font-size: 100px;
	color: #89442F;
	position: absolute;
  	top: 40%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.deliverables {
    height: 100vh;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 400%;
}

.projecttitle, .whatididtitle, .toolstitle {
    font-family: newyork;
    font-size: 30px;
    color: #89442F;
}

.projectinfo, .whatididinfo, .toolsinfo {
    font-family: urbanist-regular;
    font-size: 20px;
    color: #260101;
}

.carouselbody {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
  -webkit-justify-content: center;
    align-items: center;
  -webkit-align-items: center;
}

.carouselbody {
    background-color: #E7DFD3;
}

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 1350px;
    max-height: 650px;   
    overflow: hidden;
  position: relative;
}

.carousel-item3 {
  visibility:visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
      -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;
    /*background-color: #fff;*/
    flex-shrink: 0;
   -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item3__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
    display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  
  order: 2;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 35%;

}

.carousel-item3__image {
    width: 70%;
    height: 100%;
    order: 1;
    align-self: flex-start;
    flex-basis: 70%;
  
      -webkit-order: 1;
    -webkit-align-self: flex-start;
    -webkit-flex-basis: 70%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position:relative;
  transform: translateX(-100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item3__subtitle {
    font-family: urbanist-semibold;
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    color: #8C3D20;    
    font-weight: 700;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
}

.carousel-item3__title {
    margin: 15px 0 0 0;
    font-family: newyork;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #260101;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-item3__description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 35px;
    font-family: urbanist-regular;
    font-size: 16px;
    color: #260101;
    line-height: 26px;
    margin-bottom: 35px;
}

.carousel-item3--1 .carousel-item3__image{
  background-image: url('png/laptop.png');
}

.carousel-item3--2 .carousel-item3__image{
  background-image: url('images/affinitymap.jpg');
}

.carousel-item3--3 .carousel-item3__image{
  background-image: url('images/persona.jpg');
}

.carousel-item3--4 .carousel-item3__image{
  background-image: url('images/problemstatement.jpg');
}

.carousel-item3--5 .carousel-item3__image{
  background-image: url('images/hmw.jpg');
}

.carousel-item3__container{

}

.carousel-item3__btn {
    width: 35%;
    color: #2C2C2C;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    width: 35%;
    font-weight: 700;
  text-decoration: none;
      transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.active .carousel-item3__subtitle, .active .carousel-item3__title, .active .carousel-item3__description,.active .carousel-item3__btn{
    transform: translateY(0);
    opacity: 1;
  transition: 0.6s all ease-in-out;
    visibility: visible;
}



.active .carousel-item3__image{ 
transition: 0.6s all ease-in-out;
transform: translateX(0);
}

.carousel-item {
  visibility:visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
      -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;
    /*background-color: #fff;*/
    flex-shrink: 0;
   -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
    display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  
  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 35%;

}

.carousel-item__image {
    width: 70%;
    height: 100%;
    order: 2;
    align-self: flex-end;
    flex-basis: 70%;
  
      -webkit-order: 2;
    -webkit-align-self: flex-end;
    -webkit-flex-basis: 70%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position:relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item__subtitle {
    font-family: urbanist-semibold;
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    color: #8C3D20;    
    font-weight: 700;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
}

.carousel-item__title {
    margin: 15px 0 0 0;
    font-family: newyork;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #260101;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-item__description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 35px;
    font-family: urbanist-regular;
    font-size: 16px;
    color: #260101;
    line-height: 26px;
    margin-bottom: 35px;
}

.carousel-item--1 .carousel-item__image{
  background-image: url('images/midardisplay.jpg');
}

.carousel-item--2 .carousel-item__image{
  background-image: url('images/sketches.jpg');
}

.carousel-item--3 .carousel-item__image{
  background-image: url('images/lofi.jpg');
}

.carousel-item--4 .carousel-item__image{
  background-image: url('images/hifi.jpg');
}


.carousel-item--5 .carousel-item__image{
  background-image: url('images/calendar.jpg');
}

.carousel-item--6 .carousel-item__image{
  background-image: url('images/activities.jpg');
}

.carousel-item--7 .carousel-item__image{
  background-image: url('images/healthyday.jpg');
}

.carousel-item--8 .carousel-item__image{
  background-image: url('images/updatedcal.jpg');
}




.carousel-item__container{

}


.carousel__nav {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #fff;
  bottom: 0;
}

.carousel__icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
  fill: #8C3D20;
}

.carousel__arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    position: relative;
}

.carousel__arrow:nth-child(1):after {
    content:'';
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #b0b0b0;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}

.active{
   z-index: 1;
  display: flex;
  visibility:visible;
}

.active .carousel-item__subtitle, .active .carousel-item__title, .active .carousel-item__description,.active .carousel-item__btn{
    transform: translateY(0);
    opacity: 1;
  transition: 0.6s all ease-in-out;
    visibility: visible;
}



.active .carousel-item__image{ 
transition: 0.6s all ease-in-out;
transform: translateX(0);
}

.koreanairbody {
    background-image: url("images/rspdisplay.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.rsptitle {
    font-family: newyork;
    font-size: 70px;
    color: #89442F;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rebrandtext {
    font-family: urbanist;
    font-size: 18px;
    color: #8C3D20;
    text-align: center;
    padding-top: 330px;
}

.back2 {
    text-align: center;
    text-decoration: underline;
    padding-top: 100px;
}

.back2 a {
    font-family: urbanist;
    font-size: 18px;
    color: #8C3D20;
}

.projecttitle2, .whatididtitle2, .toolstitle2 {
    font-family: newyork;
    font-size: 30px;
    color: #89442F;
}

.projectinfo2, .whatididinfo2, .toolsinfo2 {
    font-family: urbanist-regular;
    font-size: 20px;
    color: #260101;
}

.carousel-item4 {
  visibility:visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
      -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;
    /*background-color: #fff;*/
    flex-shrink: 0;
   -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item4__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
    display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  
  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 35%;

}

.carousel-item4__image {
    width: 70%;
    height: 100%;
    order: 2;
    align-self: flex-start;
    flex-basis: 70%;
  
      -webkit-order: 2;
    -webkit-align-self: flex-start;
    -webkit-flex-basis: 70%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position:relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item4__subtitle {
    font-family: urbanist-semibold;
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    color: #8C3D20;    
    font-weight: 700;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
}

.carousel-item4__title {
    margin: 15px 0 0 0;
    font-family: newyork;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #260101;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-item4__description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 35px;
    font-family: urbanist-regular;
    font-size: 16px;
    color: #260101;
    line-height: 26px;
    margin-bottom: 35px;
}

.carousel-item4--1 .carousel-item4__image{
  background-image: url('images/experience.jpg');
}


.carousel-item4--2 .carousel-item4__image{
  background-image: url('images/rspscreen.jpg');
}

.carousel-item4--3 .carousel-item4__image{
  background-image: url('images/affinitymap2.jpg');
}

.carousel-item4--4 .carousel-item4__image{
  background-image: url('images/persona2.jpg');
}

.carousel-item4--5 .carousel-item4__image{
  background-image: url('images/problemstatement2.jpg');
}

.carousel-item4__container{

}

.carousel-item4__btn {
    width: 35%;
    color: #2C2C2C;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    width: 35%;
    font-weight: 700;
  text-decoration: none;
      transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.active .carousel-item4__subtitle, .active .carousel-item4__title, .active .carousel-item4__description,.active .carousel-item4__btn{
    transform: translateY(0);
    opacity: 1;
  transition: 0.6s all ease-in-out;
    visibility: visible;
}



.active .carousel-item4__image{ 
transition: 0.6s all ease-in-out;
transform: translateX(0);
}

.carousel-item2 {
  visibility:visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
      -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;
    /*background-color: #fff;*/
    flex-shrink: 0;
   -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item2__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
    display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  
  order: 2;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 35%;

}

.carousel-item2__image {
    width: 70%;
    height: 100%;
    order: 1;
    align-self: flex-start;
    flex-basis: 70%;
  
      -webkit-order: 1;
    -webkit-align-self: flex-start;
    -webkit-flex-basis: 70%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position:relative;
  transform: translateX(-100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item2__subtitle {
    font-family: urbanist-semibold;
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    color: #8C3D20;    
    font-weight: 700;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
}

.carousel-item2__title {
    margin: 15px 0 0 0;
    font-family: newyork;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #260101;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-item2__description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 35px;
    font-family: urbanist-regular;
    font-size: 16px;
    color: #260101;
    line-height: 26px;
    margin-bottom: 35px;
}

.carousel-item2--1 .carousel-item2__image{
  background-image: url('images/rspscreens.jpg');
}


.carousel-item2--2 .carousel-item2__image{
  background-image: url('images/userflow.jpg');
}

.carousel-item2--3 .carousel-item2__image{
  background-image: url('images/lofi2.jpg');
}

.carousel-item2--4 .carousel-item2__image{
  background-image: url('images/hifi2.jpg');
}

.carousel-item2--5 .carousel-item2__image{
  background-image: url('images/rspdashboard.jpg');
}

.carousel-item2--6 .carousel-item2__image{
  background-image: url('images/portfolioscreens.jpg');
}

.carousel-item2--7 .carousel-item2__image{
  background-image: url('images/assignments.jpg');
}

.carousel-item2--8 .carousel-item2__image{
  background-image: url('images/overview.jpg');
}




.carousel-item2__container{

}

.carousel-item2__btn {
    width: 35%;
    color: #2C2C2C;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    width: 35%;
    font-weight: 700;
  text-decoration: none;
      transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel__nav {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #fff;
  bottom: 0;
}

.carousel__icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
  fill: #8C3D20;
}

.carousel__arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    position: relative;
}

.carousel__arrow:nth-child(1):after {
    content:'';
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #b0b0b0;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}

.active{
   z-index: 1;
  display: flex;
  visibility:visible;
}

.active .carousel-item2__subtitle, .active .carousel-item2__title, .active .carousel-item2__description,.active .carousel-item2__btn{
    transform: translateY(0);
    opacity: 1;
  transition: 0.6s all ease-in-out;
    visibility: visible;
}



.active .carousel-item2__image{ 
transition: 0.6s all ease-in-out;
transform: translateX(0);
}

.nextprojectbody {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
  -webkit-justify-content: center;
    align-items: center;
  -webkit-align-items: center;
  background-color: #E7DFD3;
}

.nextproject_subtitle {
    font-family: urbanist-semibold;
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    color: #8C3D20;    
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    /*transform: translateY(25%);
    opacity: 0;
    visibility: hidden;*/
    transition: 0.4s all ease-in-out;
}

.nextproject_title a {
    font-family: newyork;
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #260101;
    text-decoration: none;
    transition: 0.4s all ease-in-out;

}

.nextproject_title a:hover {
    text-decoration: underline;
    color: #89442F;
}

@media only screen and (max-width: 1024px) {

  .hero {
  background-image: url("images/uiuxdisplay.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.uiuxtitle {
  font-size: 80px;
  position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.deliverables {
    height: 100vh;
}

.projecttitle, .whatididtitle, .toolstitle {
    font-family: newyork;
    font-size: 26px;
    color: #89442F;
}

.projectinfo, .whatididinfo, .toolsinfo {
    font-family: urbanist-regular;
    font-size: 18px;
    color: #260101;
}

.carousel {
    max-width: 820px;
    max-height: 1180px;
}

.carousel-item3, .carousel-item, .carousel-item2, .carousel-item4 {
    flex-direction: column;
}

.carousel-item3__info, .carousel-item__info, .carousel-item2__info, .carousel-item4__info {
  width: 100%;

}

.carousel-item3__image, .carousel-item__image, .carousel-item2__image, .carousel-item4__image {
    width: 100%;
    height: 100%;
    order: 1;
    align-self: flex-start;
    flex-basis: 100%;
  
      -webkit-order: 1;
    -webkit-align-self: flex-start;
    -webkit-flex-basis: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position:relative;
  transform: translateX(-100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item3__subtitle {
    font-family: urbanist-semibold;
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    color: #8C3D20;    
    font-weight: 700;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
}

.carousel-item3__title {
    margin: 5px 0 0 0;
    font-family: newyork;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #260101;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-item3__description {
    margin-top: 10px;

}

.carousel__nav {
  bottom: 26%;
}

.carousel__icon {
    width: 30px;
}

.rsptitle {
  font-size: 80px;
  position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.nextprojectbody {
    height: 60vh;
}

.carousel-item2__title, .carousel-item__title, .carousel-item3__title, .carousel-item4__title {
    font-size: 32px;
    
}

.carousel-item2__description, .carousel-item__description, .carousel-item3__description, .carousel-item4__description {
    font-size: 16px;
}



}

@media only screen and (max-width: 414px) {
.logo {
    font-family: newyork;
    font-size: 16px;
    color: #260101;
    letter-spacing: 1px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.navbar a {
    font-family: urbanist;
    font-size: 16px;
    text-decoration: none;
    color: #260101;
}

.back a {
    font-family: urbanist;
    font-size: 16px;
    color: #8C3D20;
}

.uiuxtitle {
  font-size: 40px;
}

.projecttitle, .whatididtitle, .toolstitle {
    font-family: newyork;
    font-size: 22px;
    color: #89442F;
}

.projectinfo, .whatididinfo, .toolsinfo {
    font-family: urbanist-regular;
    font-size: 16px;
    color: #260101;
    line-height: 200%;
    text-align: center;
}

.carousel-item3__info, .carousel-item__info, .carousel-item2__info, .carousel-item4__info {
  width: 75%;

}

.carousel-item3__image, .carousel-item__image, .carousel-item2__image, .carousel-item4__image {
    width: 100%;
    height: 100%;
    order: 1;
    align-self: flex-start;
    flex-basis: 100%;
  
      -webkit-order: 1;
    -webkit-align-self: flex-start;
    -webkit-flex-basis: 70%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position:relative;
  transform: translateX(-100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item3__subtitle, .carousel-item__subtitle, .carousel-item2__subtitle, .carousel-item4__subtitle {
    font-family: urbanist-semibold;
    letter-spacing: 3px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    color: #8C3D20;    
    font-weight: 700;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
}

.carousel-item3__title, .carousel-item__title, .carousel-item2__title, .carousel-item4__title {
    margin: 5px 0 0 0;
    font-family: newyork;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #260101;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-item3__description, .carousel-item__description, .carousel-item2__description, .carousel-item4__description{
    font-size: 12px;
    margin-top: 10px;

}

.carousel__nav {
  bottom: 51%;
}

.carousel__icon {
    width: 16px;
}

.back2 a {
  font-size: 16px
}

.rsptitle {
  font-size: 50px;
  position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.projecttitle2, .whatididtitle2, .toolstitle2 {
    font-family: newyork;
    font-size: 22px;
    color: #89442F;
}

.projectinfo2, .whatididinfo2, .toolsinfo2 {
    font-family: urbanist-regular;
    font-size: 16px;
    color: #260101;
    line-height: 200%;
    text-align: center;
}

.nextproject_subtitle {
    font-family: urbanist-semibold;
    letter-spacing: 3px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    color: #8C3D20;    
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    /*transform: translateY(25%);
    opacity: 0;
    visibility: hidden;*/
    transition: 0.4s all ease-in-out;
}

.nextproject_title a {
    font-family: newyork;
    text-align: center;
    font-size: 40px;
    line-height: 30px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #260101;
    text-decoration: none;
    transition: 0.4s all ease-in-out;

}

}